@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import 'tailwindcss/theme';
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --orange: rgb(250, 74, 25);
  --lighter-orange: rgb(255, 231, 224);
  --purple: rgb(91, 79, 245);
  --darker-purple: rgb(59, 35, 241);
  --lighter-purple: rgb(222, 221, 253);
  --red: rgb(219, 0, 0);
  --darker-red: rgb(169, 0, 0);
  --lighter-black: rgb(21, 21, 21);
}

html {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px !important;
  user-select: none;
}

.btn {
  border-radius: 9999px;
  font-weight: 700;
  font-stretch: 100%;
  font-kerning: auto;
  font-size: 12px !important;
  height: 40px;
  line-height: 18px;
  letter-spacing: 0.825852px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 22px;
}

#app-title {
  font-weight: 700;
  font-stretch: 100%;
  font-kerning: auto;
  font-size: 12px !important;
  line-height: 18px;
  letter-spacing: 0.825852px;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right, var(--darker-purple), var(--orange) 75%);
}

.back-btn {
  border-color: var(--purple);
  border-style: solid;
  border-width: 2px;
  background-color: white;
  color: var(--lighter-black);
}

.back-btn:hover {
  background-color: var(--lighter-purple);
  cursor: pointer;
}

.continue-btn {
  background-color: var(--purple);
  color: white;
}

.continue-btn:disabled, .continue-btn:disabled:hover {
  color: rgb(226 232 240);
  background-color: rgb(100 116 139);
}

.continue-btn:hover, .continue-btn:hover:enabled {
  color: white;
  background-color: var(--darker-purple);
  cursor: pointer;
}

input {
  font-size: 14px;
}

input:focus, select:focus {
  border-color: var(--orange);
  outline: none;
}

input:not([type="text"]):hover {
  cursor: pointer;
}

input[type="text"], input[type="date"], input[type="number"], select {
  flex-basis: 100%;
  border: 1px solid var(--color-gray-500);
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
}

.type-filter-operator {
  margin-bottom: 9px;
}

select {
  font-size: 14px;
}

input[type="text"]:focus {
  border: 1px solid var(--orange);
}

input[type="radio"] {
  padding: 8px;
}

input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

.input-container {
  height: 32px;
  padding: 8px;
  border-radius: 4px;
}

.input-container:hover {
  background-color: var(--lighter-purple);
}

summary::marker {
  font-size: 16px;
  color: var(--orange);
  margin-right: 1rem;
}

details > .type-filters-summary {
  list-style: none;
}

details > .type-filters-summary::-webkit-details-marker {
  display: none;
}

summary > div {
  display: inline-block;
  width: calc(100% - 35px);
}

summary {
  padding: 12px 12px 12px 0px;
}

summary:hover {
  background-color: var(--lighter-orange);
}

.section-heading {
  margin-left: 1rem;
}

.input-container, label.type-filters:hover {
  cursor: pointer;
}

label:not(.type-filters) {
  font-size: 14px;
}

.type-element-values {
  display: flex;
  place-items: center;
  vertical-align: middle;
  justify-content: flex-start;
  gap: 6px;
  font-size: 14px;
  border-radius: 9999px;
  border: 1px solid var(--color-gray-500);
  background-color: white;
  padding: 0.25rem 0.5rem;
  padding: 4px 8px;
  color: var(--lighter-black);
  font-stretch: 100%;
  font-kerning: auto;
  height: 32px;
  line-height: 18px;
  text-decoration: none;
  margin-right: 12px;
}

.delete-btn {
  font-size: 20px;
  color: var(--color-gray-400);
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.delete-btn:hover {
  color: var(--red);
}

/* Always show arrows styling from: https://davidwalsh.name/always-show-arrows-for-number-input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.types-filters-details {
  place-self: end;
}

.types-filters-details[open] {
  border-radius: 0.75rem;
  border-left: 2px solid var(--purple);
  border-right: 2px solid var(--purple);
  border-bottom: 2px solid var(--purple);
}

summary.custom-radio.selected:hover {
  background-color: var(--darker-purple);
}

#api-key-label, #environment-id-label {
  font-size: 16px;
}

.tooltip-icon, .tooltip-icon-small {
  border-radius: 4px;
  margin-left: 0.35rem;
}

.tooltip-icon {
  width: 24px;
  padding: 3px 4px;
}

.tooltip-icon-small {
  width: 20px;
  padding: 1px 2.25px;
}

.tooltip-icon:hover, .tooltip-icon-small:hover {
  background-color: rgba(21, 21, 21, 0.1);
}

/* Animation code from: https://www.w3schools.com/howto/howto_css_loader.asp */
.loading-span {
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#loading-general {
  border: 6px solid #f3f3f3;
  border-top: 6px solid var(--orange);
  width: 38px;
  height: 38px;
}

#loading-general-text {
  font-size: 14px;
}

#loading-export {
  border: 3px solid #f3f3f3;
  border-top: 3px solid var(--orange);
  display: inline;
  width: 18px;
  height: 18px;
  margin-right: 0.75rem;
}

#export-btn:disabled {
  cursor: not-allowed;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}